@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Bitter|Comfortaa|Poiret+One|Montserrat|Josefin+Sans);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.font-Openss {
  font: "Open Sans", sans-serif; }

.font-RobotSb {
  font: "Roboto Slab", serif; }

.font-Bitter {
  font: "Bitter", serif; }

.font-Comforta {
  font: "Comfortaa", cursive; }

.font-Poiretone {
  font: "Poiret One", cursive; }

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  color: #5E2D07; }

body {
  background: #020010; }

#back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../src/anaya.jpg") no-repeat bottom;
  background-size: 100% 100%;
  opacity: 0.4;
  z-index: -999; }

.clipping {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../src/anaya.jpg") no-repeat bottom;
  background-size: 100% 100%;
  mask: url(../src/anaya-logo2.png) no-repeat center;
  mask-size: 25.45% auto;
  -webkit-mask: url(../src/anaya-logo2.png) no-repeat center;
  -webkit-mask-size: 26% auto; }

#image {
  width: 100%;
  height: 100%; }

.mask {
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.50;
  z-index: -99; }

#main {
  width: 100%;
  height: 100%; }

#logoSvg path {
  transition: stroke-width 1s linear;
  -webkit-transition: stroke-width 1s linear;
  stroke-width: 2px;
  fill-opacity: 0;
  fill-rule: evenodd;
  overflow: visible; }

.logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2; }

.player {
  position: absolute;
  text-align: center;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  padding: 10px;
  transition: padding 0.5s linear;
  -webkit-transition: padding 0.5s linear; }

a.button {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fafafa; }

.lien a i {
  text-decoration: none;
  color: #fff; }

.button:hover {
  padding: 20px;
  background: rgba(202, 202, 202, 0.8); }

.pages {
  width: 100%;
  height: 100%; }

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.88;
  z-index: 0; }

#accueil {
  background: #fff; }

#event {
  background: #501022; }

#media {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,7db9e8+100 */
  background: #3A87D8;
  /* Old browsers */ }

#about {
  background: #f2f2f2; }

#menu_sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  z-index: 9999; }

.menu {
  display: inline-block;
  position: relative;
  margin-top: 40px;
  margin-right: 70px; }

.menu li {
  padding: 10px;
  margin: 5px;
  float: left; }

.container {
  width: 35%; }

@media (min-width: 768) {
  .font {
    font-size: 1em; } }

#contact {
  height: 0; }

.current {
  padding: 20px !important;
  border-radius: 7px;
  background-color: #c90d40; }

#shrink_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-position: 0 24%;
  background-size: 100%;
  z-index: -9999;
  opacity: 0.2; }

.shrink {
  height: 85px;
  background: rgba(10, 10, 10, 0.49); }

.standard {
  height: 85px; }

.title {
  position: relative;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #fff; }

a.menu_button {
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600; }

#contact {
  text-align: center;
  height: 100px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fff; }

.contact_inner {
  display: block;
  height: 100%;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  width: 700px; }

.bloc_addr {
  margin-right: 80px;
  text-align: right;
  display: inline-block;
  width: auto; }

.icon {
  font-size: 70px; }

h3 {
  font-size: 24px;
  margin-bottom: 17px; }

.bloc_num {
  margin-right: 35px;
  text-align: left;
  display: inline-block;
  width: auto; }

.top {
  display: block;
  height: 23%; }

p {
  text-align: center;
  color: #fff; }

.copy {
  display: inline-block;
  float: right;
  margin-top: -30px;
  margin-right: 20px; }

#logo_menu {
  opacity: 0;
  float: left;
  margin-top: 5px;
  margin-left: 50px;
  transition: opacity 0.2s linear; }

.fb {
  margin: 0 15px 0 15px; }

.lien {
  margin-top: 5px;
  float: left; }

.container {
  position: relative; }

@-webkit-keyframes $animationName {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes $animationName {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes $animationName {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes $animationName {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes $animationName {
  100% {
    stroke-dashoffset: 0; } }

@-moz-keyframes $animationName {
  100% {
    stroke-dashoffset: 0; } }

@-o-keyframes $animationName {
  100% {
    stroke-dashoffset: 0; } }

@keyframes $animationName {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes $animationName {
  100% {
    stroke: #000; } }

@-moz-keyframes $animationName {
  100% {
    stroke: #000; } }

@-o-keyframes $animationName {
  100% {
    stroke: #000; } }

@keyframes $animationName {
  100% {
    stroke: #000; } }

@-webkit-keyframes $animationName {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes $animationName {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes $animationName {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes $animationName {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes $animationName {
  100% {
    transform: scale(1); } }

@-moz-keyframes $animationName {
  100% {
    transform: scale(1); } }

@-o-keyframes $animationName {
  100% {
    transform: scale(1); } }

@keyframes $animationName {
  100% {
    transform: scale(1); } }

@-webkit-keyframes $animationName {
  to {
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@-moz-keyframes $animationName {
  to {
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@-o-keyframes $animationName {
  to {
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes $animationName {
  to {
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@-webkit-keyframes $animationName {
  to {
    transform: translate(-65%, 70%) scale(0); } }

@-moz-keyframes $animationName {
  to {
    transform: translate(-65%, 70%) scale(0); } }

@-o-keyframes $animationName {
  to {
    transform: translate(-65%, 70%) scale(0); } }

@keyframes $animationName {
  to {
    transform: translate(-65%, 70%) scale(0); } }

@-webkit-keyframes $animationName {
  25% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(-7deg); }
  75% {
    transform: rotate(7deg); }
  90% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@-moz-keyframes $animationName {
  25% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(-7deg); }
  75% {
    transform: rotate(7deg); }
  90% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@-o-keyframes $animationName {
  25% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(-7deg); }
  75% {
    transform: rotate(7deg); }
  90% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes $animationName {
  25% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(-7deg); }
  75% {
    transform: rotate(7deg); }
  90% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

@-webkit-keyframes $animationName {
  25% {
    transform: translate(0, -10%); }
  50% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, -5%); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes $animationName {
  25% {
    transform: translate(0, -10%); }
  50% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, -5%); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes $animationName {
  25% {
    transform: translate(0, -10%); }
  50% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, -5%); }
  100% {
    transform: translate(0, 0); } }

@keyframes $animationName {
  25% {
    transform: translate(0, -10%); }
  50% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, -5%); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes $animationName {
  25% {
    transform: translate(-100%, 0); }
  50% {
    transform: translate(10%, 0); }
  75% {
    transform: translate(5%, 0); }
  80% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(3%, 0); }
  90% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(1%, 0); }
  100% {
    transform: translate(0%, 0); } }

@-moz-keyframes $animationName {
  25% {
    transform: translate(-100%, 0); }
  50% {
    transform: translate(10%, 0); }
  75% {
    transform: translate(5%, 0); }
  80% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(3%, 0); }
  90% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(1%, 0); }
  100% {
    transform: translate(0%, 0); } }

@-o-keyframes $animationName {
  25% {
    transform: translate(-100%, 0); }
  50% {
    transform: translate(10%, 0); }
  75% {
    transform: translate(5%, 0); }
  80% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(3%, 0); }
  90% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(1%, 0); }
  100% {
    transform: translate(0%, 0); } }

@keyframes $animationName {
  25% {
    transform: translate(-100%, 0); }
  50% {
    transform: translate(10%, 0); }
  75% {
    transform: translate(5%, 0); }
  80% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(3%, 0); }
  90% {
    transform: translate(0%, 0); }
  85% {
    transform: translate(1%, 0); }
  100% {
    transform: translate(0%, 0); } }

@-webkit-keyframes $animationName {
  25% {
    transform: translate(0%, -10%) rotate(5deg); }
  35% {
    transform: translate(0%, -10%) rotate(-5deg); }
  45% {
    transform: translate(0%, -10%) rotate(5deg); }
  55% {
    transform: translate(0%, -10%) rotate(-5deg); }
  65% {
    transform: translate(0%, -10%) rotate(5deg); }
  75% {
    transform: translate(0%, -10%) rotate(0deg); }
  100% {
    transform: translate(0%, 0%) rotate(0); } }

@-moz-keyframes $animationName {
  25% {
    transform: translate(0%, -10%) rotate(5deg); }
  35% {
    transform: translate(0%, -10%) rotate(-5deg); }
  45% {
    transform: translate(0%, -10%) rotate(5deg); }
  55% {
    transform: translate(0%, -10%) rotate(-5deg); }
  65% {
    transform: translate(0%, -10%) rotate(5deg); }
  75% {
    transform: translate(0%, -10%) rotate(0deg); }
  100% {
    transform: translate(0%, 0%) rotate(0); } }

@-o-keyframes $animationName {
  25% {
    transform: translate(0%, -10%) rotate(5deg); }
  35% {
    transform: translate(0%, -10%) rotate(-5deg); }
  45% {
    transform: translate(0%, -10%) rotate(5deg); }
  55% {
    transform: translate(0%, -10%) rotate(-5deg); }
  65% {
    transform: translate(0%, -10%) rotate(5deg); }
  75% {
    transform: translate(0%, -10%) rotate(0deg); }
  100% {
    transform: translate(0%, 0%) rotate(0); } }

@keyframes $animationName {
  25% {
    transform: translate(0%, -10%) rotate(5deg); }
  35% {
    transform: translate(0%, -10%) rotate(-5deg); }
  45% {
    transform: translate(0%, -10%) rotate(5deg); }
  55% {
    transform: translate(0%, -10%) rotate(-5deg); }
  65% {
    transform: translate(0%, -10%) rotate(5deg); }
  75% {
    transform: translate(0%, -10%) rotate(0deg); }
  100% {
    transform: translate(0%, 0%) rotate(0); } }

@-webkit-keyframes $animationName {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

@-moz-keyframes $animationName {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

@-o-keyframes $animationName {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

@keyframes $animationName {
  0% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }
