@import "style";

#logoSvg path {
  transition: stroke-width 1s linear;
  -webkit-transition: stroke-width 1s linear;
  stroke-width: 2px;
  // fill: #fafafa;
  fill-opacity: 0;
  fill-rule: evenodd;
  overflow: visible;

}

// #logo{ //logo img
//   margin: auto;
//   // width: 84%;
//   height: auto;
//   // transform: translate(9%,6.0%) scaleY(0.99);
//   // -webkit-transform: matrix(1.108,0,0,1.1,68,62);
//   // transform: matrix(1.108,0,0,1.1,68,62);
// }

.logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31%;
  -webkit-transform:  translate(-50%, -50%);
  transform:  translate(-50%, -50%);
  z-index: 2;
 }

.player{
  position: absolute;
  text-align: center;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  padding: 10px;
  transition: padding 0.5s linear;
  -webkit-transition: padding 0.5s linear;


}

a.button{
  @include typo( $fontJosefin , #fafafa);
}

.lien a i{
  text-decoration: none;
  color: #fff;
}

.button:hover{
  padding: 20px;
  background: rgba(202,202,202,0.8);
}

.pages{
  width: 100%;
  height: 100%;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  // background: url('../src/anaya.jpg') no-repeat bottom;
  // background-size: 100% 100%;
  opacity: 0.88;
  z-index: 0;
}

#accueil{
  background: #fff
}

#event{
  background: #501022
}

#media{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+53,7db9e8+100 */
  background: #3A87D8; /* Old browsers */

}

#about{
  background: #f2f2f2
}

#menu_sticky{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  z-index: 9999
}

.menu{
  display: inline-block;
  position: relative;
  margin-top: 40px;
  margin-right: 70px;
}

.menu li {
  padding: 10px;
  margin: 5px;
  float: left;
  // background-color: rgba(180,180,180,0.5)
  // border-bottom: solid 1px #fff;
  // border-right: solid 1px #fff;
  // border-left: solid 1px #fff;
}

.container{
  width: 35%;

}

#contact{
  height: 0;
}

.current{
  padding: 20px!important;
  border-radius: 7px;
  background-color: #c90d40;
  // background-color: rgba(180,023,064, 0.7);
}

#shrink_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  // background: url("../src/anaya.jpg") no-repeat;
  background-position:0 24%;
  background-size: 100%;
  z-index: -9999;
  opacity: 0.2;
}

.shrink{
  height: 85px;
  background: rgba(010,010,010,0.49);
}

.standard{
  height: 85px;
}

.title{
  position: relative;
  font-size: 20px;
  @include typo($fontRobotSb, #fff);
}

a.menu_button{
  padding: 8px;
  @include typo($fontJosefin, #fff);
  font-size: 14px;
  font-weight: 600;
}

#contact{
  text-align: center;
  height: 100px;
  @include typo($fontJosefin, #fff);
}

.contact_inner{
  display: block;
  height: 100%;
  margin: 10px auto;
  color : #fff;
  text-align: center;
  width: 700px;
}

.bloc_addr{
  margin-right: 80px;
  text-align: right;
  display: inline-block;
  width: auto;
}

.icon{
  font-size: 70px;
}

h3{
  font-size: 24px;
  margin-bottom: 17px;
}

.bloc_num{
  margin-right: 35px;
  text-align: left;
  display: inline-block;
  width: auto
}

.top{
  display:block;
  height: 23%;
}

p{
  text-align: center;
  color: #fff
}

.copy{
  display: inline-block;
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}

#logo_menu{
  opacity: 0;
  float: left;
  margin-top: 5px;
  margin-left: 50px;
  transition: opacity 0.2s linear;
}

.fb{
  margin: 0 15px 0 15px;
}

.lien{
  margin-top: 5px;
  float: left;
}

.container{
  position: relative;
}


@mixin keyframes($animationName){
  @-webkit-keyframes $animationName{
      @content;
    }
  @-moz-keyframes $animationName{
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName{
    @content;
  }
}

@include keyframes(opacity){
  0%   {
    opacity: 0;}
  20% {
    opacity: 1;}
  100% {
    opacity: 0;}
}

@include keyframes(draw){
  100% {stroke-dashoffset: 0 ;}
}

@include keyframes(stroke){
  100% {stroke: #000 ;}
}

@include keyframes(transparence){
  0% {opacity: 1 ;}
  100% {opacity: 0 ;}
}

@include keyframes(size){
  100% {transform: scale(1);}
}

@include keyframes(reset){
  to{ transform: matrix(1,0,0,1,0,0)}
}

@include keyframes(close){
  to{ transform: translate(-65%,70%) scale(0)}
}

@include keyframes(rotation){
    25%{transform: rotate(12deg)}
    50%{transform: rotate(-7deg)}
    75%{transform: rotate(7deg)}
    90%{transform: rotate(-5deg)}
    100%{transform: rotate(0deg)}
}
@include keyframes(jump){
  25%{transform: translate(0,-10%)}
  50%{transform: translate(0,0)}
  75%{transform: translate(0,-5%)}
  100%{transform: translate(0,0)}
}
@include keyframes(show_left){
  25%{transform: translate(-100%,0)}
  50%{transform: translate(10%,0)}
  75%{transform: translate(5%,0)}
  80%{transform: translate(0%,0)}
  85%{transform: translate(3%,0)}
  90%{transform: translate(0%,0)}
  85%{transform: translate(1%,0)}
  100%{transform: translate(0%,0)}
}
// @include keyframes(show_down){
//   25%{transform: translate(0%,-100%)}
//   50%{transform: translate(0%,10%)}
//   75%{transform: translate(0%,5%)}
//   80%{transform: translate(0%,0%)}
//   85%{transform: translate(0%,3%)}
//   90%{transform: translate(0%,0%)}
//   85%{transform: translate(0%,1%)}
//   100%{transform: translate(0%,0%)}
// }
@include keyframes(ring){
  25%{transform: translate(0%,-10%) rotate(5deg)}
  35%{transform: translate(0%,-10%) rotate(-5deg)}
  45%{transform: translate(0%,-10%) rotate(5deg)}
  55%{transform: translate(0%,-10%) rotate(-5deg)}
  65%{transform: translate(0%,-10%) rotate(5deg)}
  75%{transform: translate(0%,-10%) rotate(0deg)}
  100%{transform: translate(0%,0%) rotate(0)}
}

@include keyframes(margin){
  0%{
  transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}
